/* Unique class for the OrderPage */
.order-page-container {
    align-items: center;
    text-align: center;
    margin: 2rem;
  }
  
  .order-page-title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  
  .order-form {
    width: 100%;
    max-width: 400px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }
  
  .order-form-input {
    margin: 10px 0;
  }
  
  .order-form-label {
    display: block;
    font-weight: bold;
  }
  
  .order-form-input-fields {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .order-form-button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .order-form-button:hover {
    background: #0056b3;
  }
  
  /* Styling for the "Order Again" link */
  .order-again-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
  }
  
  .order-again-link:hover {
    text-decoration: underline;
  }
  